<!DOCTYPE HTML>
<html>

    <head>
        <title>Portfolio | Jarid Wade</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/main.css" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>

    <body>

        <!-- Header -->
        <div id="header">

            <div class="top">

                <!-- Logo -->
                    <div id="logo">
                        <span class="image avatar48"><img src="../images/avatar.jpg" alt="" /></span>
                        <h1 id="title">Jarid Wade</h1>
                        <p>Perpetual Learner</p>
                    </div>

                <!-- Nav -->
                    <nav id="nav">
                        <ul>
                            <li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
                            <li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
                            <li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
                            <li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
                        </ul>
                    </nav>

            </div>

            <div class="bottom">

                <!-- Social Icons -->
                    <ul class="icons">
                        <li><a href="https://twitter.com/jaridwade" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://github.com/ihavenoidea14" class="icon fa-github"><span class="label">Github</span></a></li>
                        <li><a href="https://www.linkedin.com/in/jarid-wade-154a1373" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
                    </ul>

            </div>

        </div>

        <!-- Main -->
        <div id="main">

            <!-- Intro -->
            <section id="top" class="one dark cover">
                <div class="container">

                    <header>
                        <h2 class="alt">Hi! I'm <strong>Jarid</strong>...</h2>
                        <p>...a technology enthusiast with a passion for the web.</p>                              
                    </header>

                    <footer>
                        <a href="#portfolio" class="button scrolly">Portfolio</a>
                    </footer>

                </div>
            </section>

            <!-- Portfolio -->
            <section id="portfolio" class="two">
                <div class="container">

                    <header>
                        <h2>Portfolio</h2>
                    </header>

                    <p>I'll never be mistaken for a rockstar front-end dev, and my design skills certainly leave something to be desired, however, 
                    I feel like my skills with the back end of the stack make up for it!</p>

                    <div class="row">
                        <div class="4u 12u$(mobile)">
                            <article class="item">
                                <a target="_blank" href="https://jarid-timestamp.herokuapp.com/" class="image fit skills"><img src="../images/timestamp.png" alt="Timestamp Microservice" /></a>
                                <header>
                                    <h3>Timestamp Microservice</h3>
                                </header>
                            </article>
                            <article class="item">
                                <a href="#" class="image fit"><img src="../images/underconstruction.jpg" alt="" /></a>
                                <header>
                                    <h3>URL Shortener Microservice</h3>
                                </header>
                            </article>
                        </div>
                        <div class="4u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image fit"><img src="../images/underconstruction.jpg" alt="" /></a>
                                <header>
                                    <h3>Stock Market Chart</h3>
                                </header>
                            </article>
                            <article class="item">
                                <a href="#" class="image fit"><img src="../images/underconstruction.jpg" alt="" /></a>
                                <header>
                                    <h3>File Metadata Microservice</h3>
                                </header>
                            </article>
                        </div>
                        <div class="4u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image fit"><img src="../images/underconstruction.jpg" alt="" /></a>
                                <header>
                                    <h3>Voting App</h3>
                                </header>
                            </article>
                            <article class="item">
                                <a href="#" class="image fit"><img src="../images/underconstruction.jpg" alt="" /></a>
                                <header>
                                    <h3>Stat Tracker</h3>
                                </header>
                            </article>
                        </div>
                    </div>

                </div>
            </section>

            <!-- About Me -->
            <section id="about" class="three">
                <div class="container">

                    <header>
                        <h2>About Me</h2>
                    </header>

                    <p>Most of my interests revolve around back-end projects.
                    Some of my favorite tools include Node.js, Express.js, Laravel, and 
                    although I am a Linux fanatic I have also begun to experiment with ASP.NET Core.
                    My database proficiencies include MySQL, PostgreSQL, and MS SQL Server.
                    I also have some experience provisioning/managing Ubuntu, CentOS, and Debian servers.
                    For spinning up dev environments I tend to use Vagrant, however, 
                    I have also been experimenting with Docker.
                    Oh, and I love all things AWS!</p>

                    <div class="row">
                        <div class="3u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image"><img src="../images/node.png" alt="Node.js" /></a>
                            </article>
                        </div>
                        <div class="2u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image"><img src="../images/laravel.png" alt="Laravel" /></a>
                            </article>
                        </div>
                        <div class="3u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image"><img src="../images/mysql.png" alt="MySQL" /></a>
                            </article>
                        </div>
                        <div class="2u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image"><img src="../images/vagrant.png" alt="Vagrant" /></a>
                            </article>
                        </div>
                        <div class="2u 12u$(mobile)">
                            <article class="item">
                                <a href="#" class="image"><img src="../images/ubuntu.png" alt="Ubuntu" /></a>
                            </article>
                        </div>                 
                    </div>

                </div>
            </section>

            <!-- Contact -->
            <section id="contact" class="four">
                <div class="container">

                    <header>
                        <h2>Contact</h2>
                    </header>

                    <p>Feel free to contact me anytime if you have any tips (assuming you have taken a look at some of my projects).
                    Thanks for stopping by!</p>

                    <form method="post" action="#">
                        <div class="row">
                            <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
                            <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
                            <div class="12u$">
                                <textarea name="message" placeholder="Message"></textarea>
                            </div>
                            <div class="12u$">
                                <input type="submit" value="Send Message" />
                            </div>
                        </div>
                    </form>

                </div>
            </section>

        </div>

        <!-- Footer -->
        <div id="footer">

            <!-- Copyright -->
                <ul class="copyright">
                    <li>Jarid Wade</li>
                    <li>2017</a></li>
                </ul>

        </div>

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/jquery.scrollzer.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/main.js"></script>

    </body>

</html>